body{
    display: flex;
    flex-direction: row;
}
nav {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    padding: 10px;
    list-style: none;
    flex-direction: row;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-radius: 10px 10px 0 0;
}
#alerts {
    display: flex;
    flex-direction: row;
}
#claims {
    display: flex;
    flex-direction: column;
}

#chatbot {
    display: flex;
    flex-direction: column;
}

.alert-item, .claim-item, .chatbot-item{
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 10px 5px 5px;
    margin: 1rem;
}

#monitor{
    width: 90%;
}
